systemKey=a8ec94c80ba2fba4d4e5c2d1f0f701
systemSecret=A8EC94C80BCA8BFBD28AECD6CFA801
userEmail=edger@unimar.com
userPassword=password
platformURL=http://edge:9000
messagingURL=tcp://edge:1883
# TODO refactor this path to iotright application standards, coordinate with CB system ? on relative
sensorTopicPath=iMine/Sensors/
updateSensorTopicPath=updateSensor/#
gatewayTopicParth=/iotr/gw/
clientID=iMineToCB
gatewayFirmwareVersion=3.4.1.3
radioFirmwareVersion=1.0.1.0
hostAddress=0.0.0.0
monnitPort=3000
defaultSensorHeartbeat=10.0